<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.shop.order.applicaton.mapper.ShopOrderMapper">

    <resultMap id="ShopOrderMap" type="com.zy.shop.pojo.ShopOrder">
        <id column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="goods_id" property="goodsId" jdbcType="BIGINT"/>
        <result column="order_id" property="orderId" jdbcType="BIGINT"/>
        <result column="coupon_id" property="couponId" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="goods_price" property="goodsPrice" jdbcType="DECIMAL"/>
        <result column="goods_number" property="goodsNumber" jdbcType="BIGINT"/>
        <result column="coupon_money" property="couponMoney" jdbcType="DECIMAL"/>
        <result column="paid_money" property="paidMoney" jdbcType="DECIMAL"/>
        <result column="pay_amount" property="payAmount" jdbcType="DECIMAL"/>
        <result column="order_status" property="orderStatus" jdbcType="INTEGER"/>
        <result column="telphone" property="telPhone" jdbcType="INTEGER"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="shipping_fee" property="shippingFee" jdbcType="DECIMAL"/>
    </resultMap>

    <insert id="saveOrder" parameterType="com.zy.shop.pojo.ShopOrder">
        insert into myshop.shop_order(user_id, goods_id, order_id, coupon_id, user_name, goods_name, goods_price,
                                      goods_number, total_money, coupon_money, paid_money, pay_amount, order_status,
                                      telphone, address, create_time, update_time, shipping_fee)
        values (#{userId}, #{goodsId}, #{orderId}, #{couponId}, #{userName}, #{goodsName}, #{goodsPrice},
                #{goodsNumber},
                #{totalMoney}, #{couponMoney}, #{paidMoney}, #{payAmount}, #{totalMoney}, #{orderStatus}, #{telPhone},
                #{address},
                now(), now(), #{shippingFee})
    </insert>

    <update id="updateShopOrder" parameterType="com.zy.shop.pojo.ShopOrder">
        update myshop.shop_order
        set order_status=#{status},
            update_time=now()
        where order_id = #{orderId}
    </update>
</mapper>