server:
  port: 8088

spring:
  application:
    name: dubbo-pay-provider

  # DataBase
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/trade?useUnicode=true&characterEncoding=utf8
    username: root
    password: root

# Dubbo
dubbo:
  protocol:
    name: dubbo
    port: 20884
  application:
    id: dubbo-pay-provider
    name: dubbo-pay-provider
  registry:
    address: zookeeper://127.0.0.1:2181

# Mybatis properties
mybatis:
  type-aliases-package: com.zy.shop.pojo
  mapper-locations: classpth:mapper/*Mapper.xml

# RocketMQ
rocketmq:
  producer:
    group:  SHOP_ORDER_PAID_PRODUCER_GROUP
  name-server: 127.0.0.1:9876
mq:
  pay:
    topic: SHOP_ORDER_PAID_TOPIC
    tag: SHOP_ORDER_PAID_TAG