<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.shop.pay.application.mapper.ShopMqProducerLogMapper">
    <resultMap id="ShopMqProducerLogMap" type="com.zy.shop.pojo.ShopMQProducerLog">
        <id column="msg_id" property="msgId" jdbcType="VARCHAR"/>
        <result column="group_name" property="groupName" jdbcType="VARCHAR"/>
        <result column="msg_key" property="msgKey" jdbcType="VARCHAR"/>
        <result column="msg_tag" property="msgTag" jdbcType="VARCHAR"/>
        <result column="msg_topic" property="msgTopic" jdbcType="VARCHAR"/>
        <result column="msg_body" property="msgBody" jdbcType="VARCHAR"/>
        <result column="msg_status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <update id="updateProducerLog" parameterType="com.zy.shop.pojo.ShopMQProducerLog">
        update myshop.shop_mq_producer_log
        set msg_status=#{status},
            update_time=now()
        where msg_id = #{msgId}
    </update>

    <insert id="saveProducerLog" parameterType="com.zy.shop.pojo.ShopMQProducerLog">
        insert into myshop.shop_mq_producer_log(msg_id, group_name, msg_key, msg_tag, msg_body, msg_status, msg_topic,
                                                create_time, update_time)
        VALUES (#{msgId}, #{groupName}, #{msgKey}, #{msgTag}, #{msgBody}, #{status}, #{msgTopic}, now(), now())
    </insert>
</mapper>