server:
  port: 8087

spring:
  application:
    name: dubbo-order-provider
  # DataBase
  datasource:
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/trade?useUnicode=true&characterEncoding=utf8

# Dubbo
dubbo:
  application:
    name: dubbo-order-provider
    id: dubbo-order-provider
  registry:
    adress: zookeeper//127.0.0.1:2181
  server: true
  protocol:
    name: dubbo
    prot: 20883

# Mybatis
mybatis:
  type-aliases-package: com.zy.shop.pojo
  mapper-locations: classpath:mapper/*Mapper.xml

#RocketMQ
rocketmq:
  name-server: 127.0.0.1:9876
  producer:
    group: orderProducerGroup

mq:
  order:
    consumer:
      group:
        name: order_orderTopic_cancel_group
    topic: orderTopic
    tag: order_cancel
  pay:
    topic: payTopic
    consumer:
      group:
        name: pay_payTopic_group

